[submodule "deps/vimerl"]
	path = deps/vimerl
	url = git://github.com/jimenezrick/vimerl.git
[submodule "deps/nerdtree"]
	path = deps/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "deps/comments"]
	path = deps/comments
    url = git://github.com/ibnfirnas/vim-comments.git
[submodule "deps/vim-markdown"]
	path = deps/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "deps/vim-colors-solarized"]
	path = deps/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "deps/fsharp-vim"]
	path = deps/fsharp-vim
	url = git://github.com/kongo2002/fsharp-vim.git
[submodule "deps/coq.vim"]
	path = deps/coq.vim
	url = git://github.com/jvoorhis/coq.vim.git
[submodule "deps/tiger.vim-syntax"]
	path = deps/tiger.vim-syntax
	url = git://github.com/vim-scripts/tiger.vim-syntax.git
[submodule "deps/idris-vim"]
	path = deps/idris-vim
	url = https://github.com/idris-hackers/idris-vim.git
[submodule "deps/coquille"]
	path = deps/coquille
	url = https://github.com/the-lambda-church/coquille.git
[submodule "deps/vimbufsync"]
	path = deps/vimbufsync
	url = https://github.com/def-lkb/vimbufsync.git
