[submodule "repos/vimerl"]
	path = repos/vimerl
	url = git://github.com/jimenezrick/vimerl.git
[submodule "repos/nerdtree"]
	path = repos/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "repos/comments"]
	path = repos/comments
	url = git@github.com:ibnfirnas/vim-comments.git
