[submodule "deps/vimerl"]
	path = deps/vimerl
	url = git://github.com/jimenezrick/vimerl.git
[submodule "deps/nerdtree"]
	path = deps/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "deps/comments"]
	path = deps/comments
    url = git://github.com/ibnfirnas/vim-comments.git
[submodule "deps/vim-markdown"]
	path = deps/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "deps/vim-colors-solarized"]
	path = deps/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "deps/fsharp-vim"]
	path = deps/fsharp-vim
	url = git://github.com/kongo2002/fsharp-vim.git
